body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.content {
	padding: 15px;
	margin: 15px;
}
.title {
	color: white;
	font-size: 20px;
}
.info > span:not(:last-child)::after {
	content: "|";
	padding: 0px 15px;
}

.hide {
	display: none;
}
.log-error {
	color: tomato;
}
.log-warn {
	color: rgb(189, 189, 10);
}
.text-success,
.text-info {
	color: rgb(2, 58, 2);
}
